/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&subset=latin-ext');
@font-face { font-family: Anders; src: url('../fonts/Anders.ttf')format("opentype");  }


/* box model */
html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: border-box;}

body {
	padding: 10px 50px;
	background: bisque url('../images/pozadi.jpg');
	background-repeat: repeat;
	color: black;
	min-height: 100vh;
	margin: 0 auto;

}

h1 {
	margin: 50px 0;
	font: 60px/1 'Anders', sans-serif;
	text-align: center;
	color: forestgreen;
	text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}


/*detail*/
p {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 3px;
	width: 300px;
	height: auto;
}

.img {
	width: 300px;
	margin-top: 1px;
	margin-bottom: 5px;
	border: 10px solid #FFCCB8;
	border-radius: 20px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.link {
	margin-top: 5px;
	color: forestgreen;
	font-weight: bold;
	border: 3px solid forestgreen;
	border-radius: 20px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	margin-left: 30%;
	margin-right: auto;
	padding: 3px;

}
/*tabulka*/
.tabulka {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	border: 3px solid forestgreen;
	border-radius: 20px;

}

.tabulka tr th {
	background-color: rgba(255,204,184,0.7);
	color: forestgreen;
	border-radius: 20px;
}
.tabulka tr td{
	border-radius: 20px;
	background-color: rgba(245,245,220,0.5);
}

.tabulka tr th:nth-child(1) {
	width: 15%;
}
.tabulka tr th:nth-child(2) {
	width: 15%;
}
.tabulka tr th:nth-child(3) {
	width: 10%;
}
.tabulka tr th:nth-child(4) {
	width: 10%;
}
.tabulka tr th:nth-child(5) {
	width: 10%;
}
.tabulka tr th:nth-child(6) {
	width: 15%;
}


