<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="../static/css/styly.css" th:href="@{/css/styly.css}"/>

</head>
<body>
    <h1>Detail</h1>

    <table class="tabulka">
        <tr>
            <th>ID</th>
            <th>Meno</th>
            <th>Priezvisko</th>
            <th>Štát</th>
            <th>Mesto</th>
            <th>Telefón</th>
        </tr>

        <tr>
            <td th:text = "${jedenKontakt.id}">200</td>
            <td th:text = "${jedenKontakt.jmeno}">Jana</td>
            <td th:text = "${jedenKontakt.prijmeni}">Malá</td>
            <td th:text = "${jedenKontakt.stat}">Polsko</td>
            <td th:text = "${jedenKontakt.mesto}">Krakov</td>
            <td th:text = "${jedenKontakt.telefonniCislo}">+420 557 589 624</td>

        </tr>
    </table>
    

    <p>
        <img class="img" src="../static/images/osobnosti/Ada.jpg"
             th:src="${'/ukol04/images/osobnosti/' + jedenKontakt.jmeno + '.jpg'}">
        
        <a class="link" href="http://toffifee.tomcat.cloud/ukol04/kontakty.html">Späť na zoznam</a>
    </p>

</body>
</html>