<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakty</title>
    <link rel="stylesheet" href="../static/css/styly.css" th:href="@{/css/styly.css}"/>

</head>
<body>
    <h1>Kontakty</h1>

    <table class="tabulka">
        <tr>
            <th>ID</th>
            <th>Meno</th>
            <th>Priezvisko</th>
            <th>Štát</th>
            <th>Telefón</th>
            <th>Akcia</th>
        </tr>

        <tr th:each="jedenKontakt : ${seznamKontaktu}">
            <td th:text = "${jedenKontakt.id}">2</td>
            <td th:text = "${jedenKontakt.jmeno}">Jana</td>
            <td th:text = "${jedenKontakt.prijmeni}">Malá</td>
            <td th:text = "${jedenKontakt.stat}">Polsko</td>
            <td th:text = "${jedenKontakt.telefonniCislo}">+420 557 589 624</td>
            <td><a th:href="${'kontakty/' + jedenKontakt.id + '.html'}">Detail</a></td>
        </tr>

        <!--/* -->
        <tr>
            <td>3</td>
            <td>Iva</td>
            <td>Jará</td>
            <td>Maďarsko</td>
            <td>+421 985 654</td>
            <td>Detail</td>
        </tr>
        <!--*/ -->
    </table>
    
</body>
</html>